@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-50 antialiased;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10;
}

.glass-dark {
  @apply bg-black/40 backdrop-blur-xl border border-white/5;
}

.bg-primary {
  background-color: var(--p-primary-color) !important;
}

.text-primary {
  color: var(--p-primary-color) !important;
}

.border-primary {
  border-color: var(--p-primary-color) !important;
}
